################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/*/bin
/*/obj
*.user
/DuelMastersApi/.vs
/DuelMastersWeb/dist
/DuelMastersWeb/node_modules
/DuelMastersWeb/.angular
/DuelMastersSocket/node_modules
/DuelMastersSocket/dist
/DuelMastersSocket/.angular
