<ion-card>
    <ion-card-header>
        <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form (submit)="onLogin($event)">
            <ion-item>
                <ion-label position="stacked">Username</ion-label>
                <ion-input [(ngModel)]="username" name="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
            </ion-item>
            <ion-button type="submit" expand="block">Login</ion-button>
        </form>
        <p *ngIf="message">{{message}}</p>
    </ion-card-content>
</ion-card>